.topcoat-navigation-bar {
    padding-top: 20px;
    height: 60px;
}

body {
    font-family: -apple-system-font !important;
}



.login-form {
    text-align: center;
    width: 80%;
    margin: 60px auto 0;
}

input[type=text], input[type=password] {
    display: block;
    width: 100%;
    margin: 0 auto;
    outline: none;
    padding-top: 24px;
    padding-bottom: 24px;
}

.login-button {
    width: 100%;
    margin: 0 auto;
}

.forgot-password {
    width: 30%;
    margin: 0 auto;
    font-size: 12px;
}

